/* Media querries for about page */
:root {
  --primary: #fff;
  --secondary: #2a3891;
  --dark: #000000;
}
/* For mobile */

@media screen and (width <= 768px) {
  .navbar img {
    width: 75%;
    margin-top: 2rem;
    margin-left: 3rem;
    visibility: hidden;
  }

  .menu li {
    width: 50%;
    padding: 10px 0;
    display: none;
  }

  /* CSS for desktop and tablets (screen width > 768px) */
  .about-text,
  .about-video,
  .annual-report,
  .mission-text,
  .mission-img,
  .vision-text,
  .vision-img {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  /* sticky navbar */

  .navbar.sticky {
    display: none;
  }
  .navbar.sticky h3,
  .navbar.sticky a {
    display: none;
  }

  .navbar.sticky a:hover {
    display: none;
  }

  /* hero header */

  .hero-header h1 {
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    margin-top: -4rem;
    margin-left: -7rem;
  }

  /* About us */

  .about {
    flex-direction: column;
    margin-top: 15rem;
  }

  .about-video {
    margin-top: 10rem;
  }

  .about-text {
    width: 90%;
    margin-top: 9rem;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .about-text h2 {
    margin-top: -7rem;
    margin-left: -1rem;
  }

  .about-text p {
    margin-top: 0.5rem;
    margin-left: -1rem;
  }

  iframe {
    width: 300px;
  }

  /* Vision */

  .vision {
    margin-top: 30rem;
    flex-direction: column;
    margin-left: 3rem;
  }

  .vision-text {
    width: 100%;
  }

  .vision-img {
    margin-top: 2rem;
    margin-left: -1rem;
  }

  .vision-img img {
    height: 100%;
    width: 100%;
  }

  /* Mission */

  .mission {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
  }

  /* footer */

  .footer h1 {
    font-size: 3rem;
  }

  .footer-heading {
    margin-bottom: 1rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .logo {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .logo img {
    width: 100%;
    margin-left: -2rem;
  }

  .logo p {
    width: 100%;
    margin-top: 0.5rem;
    margin-left: -1rem;
  }

  .scanner-img {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .scanner-img h3 {
    margin-left: 1rem;
  }

  .scanner-img p {
    width: 100%;
    margin-top: 0.5rem;
    margin-left: -1rem;
  }

  .scanner-img img {
    margin: 1rem;
    margin-left: 4rem;
  }

  .menu-links ul {
    display: flex;
    column-gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .icon-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
