/* Media querries for Index page */

/* For mobile */

@media screen and (width <= 768px) {
  .navbar h3 {
    font-size: 1rem;
    margin-left: 0rem;
  }

  .menu {
    margin: 3rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.5rem;
  }

  .menu li {
    width: 50%; /* Display two items per row */
    padding: 10px 0;
    display: none;
  }

  /* hero header */

  .hero-header {
    margin-top: 5rem;
  }

  .hero-header p {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 1rem;
  }

  .hero-header h1 {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-top: 1rem;
  }

  /* About us */

  .about-heading {
    padding-top: 10rem;
  }

  .aboutUs h2 {
    font-size: 2.5rem;
    margin-right: 2rem;
  }

  .about-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about-info p {
    width: 90%;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0rem;
    margin-left: 0rem;
    text-align: center;
  }

  .about-para .btn-about {
    display: block;
  }

  .about-img {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  /* reveal animation */

  .reveal {
    transform: translateY(0rem);
    opacity: 1;
  }

  .reveal.active {
    opacity: 1;
  }

  /* sticky navbar */

  .navbar.sticky {
    display: none;
  }
  .navbar.sticky h3,
  .navbar.sticky a {
    display: none;
  }

  .navbar.sticky a:hover {
    display: none;
  }
}
