/* Media querries for Index page */
:root {
  --primary: #fff;
  --secondary: #72a0c1;
  --dark: #111111;
}
/* For mobile */

@media screen and (width <= 768px) {
  .navbar h3 {
    font-size: 1rem;
    margin-left: 0rem;
  }

  .menu {
    margin: 3rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.5rem;
  }

  .menu li {
    width: 50%; /* Display two items per row */
    padding: 10px 0;
    display: none;
  }

  /* hero header */

  .hero-header {
    margin-top: 5rem;
  }

  .hero-header p {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 1rem;
  }

  .hero-header h1 {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-top: 1rem;
  }

  /* About us */

  .about-heading {
    padding-top: 5rem;
  }

  .aboutUs h2 {
    font-size: 2.5rem;
    margin-right: 0rem;
  }

  .about-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about-info p {
    width: 90%;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0rem;
    margin-left: 1rem;
    text-align: left;
  }

  .about-para .btn-about {
    display: block;
  }

  .about-img {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .about-img img {
    max-width: 90%;
  }

  /* reveal animation */

  .reveal {
    transform: translateY(0rem);
    opacity: 1;
  }

  .reveal.active {
    opacity: 1;
  }

  /* sticky navbar */

  .navbar.sticky {
    display: none;
  }
  .navbar.sticky h3,
  .navbar.sticky a {
    display: none;
  }

  .navbar.sticky a:hover {
    display: none;
  }

  /* projects */

  .our-projects {
    display: none;
  }

  .our-projects-mobile {
    display: block;
    display: flex;
    flex-direction: column;
  }

  .our-projects-mobile .project-heading {
    padding-top: 4rem;
    font-size: 2.5rem;
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .project {
    max-width: 100%;
    margin: 1rem;
    margin-right: 1.5rem;
  }

  .project p {
    text-align: center;
  }

  /* Gallery */

  .gallery-heading {
    margin-bottom: 2rem;
    padding-top: 10rem;
  }

  .slider-container {
    height: 50%;
    width: 100%;
  }

  /* blogs */

  .blogs {
    height: 310dvh;
  }

  .blogs-heading {
    margin-bottom: 2rem;
  }

  .blog-row {
    display: flex;
    flex-direction: column;
  }

  .blog {
    display: flex;
    flex-direction: column;
    background: var(--secondary);
    margin: 2rem 3rem;
    border-radius: 0.3rem;
    width: 17rem;
    height: 100%;
  }

  .blogs ul {
    margin-top: 2rem;
  }

  .blog p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .blog img {
    height: 15rem;
  }

  .blog-btn {
    margin-bottom: 0.5rem;
  }

  /* volunteer */

  .volunteer {
    background: url(../images/volunteers-1.jpg) center no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 160dvh;
    margin-top: 0rem;
  }

  .volunteer h2 {
    font-size: 2rem;
  }

  .volunteer p {
    text-align: left;
  }
}
